/* ==========================================================
   CONFIGURAÇÕES GLOBAIS E RESET
   ========================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f4f8ff;
}

/* Garante que inputs e imagens nunca estourem os containers */
input, select, textarea, button, img {
    max-width: 100%;
    box-sizing: border-box;
}