* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f4f8ff;
}


input, select, textarea, button, img {
    max-width: 100%;
    box-sizing: border-box;
}